#copyButton, #helpMessage {
    -fx-text-fill: #3E2F1C;
}

#copyButton {
    -fx-background-color: #C19A6B;
}

#copyButton:hover {
    -fx-background-color: #D2B48C;
}

#copyButton:armed {
    -fx-background-color: #A67B5B;
}

#helpMessageContainer {
    -fx-background-color: derive(#FFEFD5, -10%);
}
